<div>

<% @recipes.each do |recipe|%>
  <p><%= recipe.name%></p>
  <p><%= recipe.user.name%></p>
    <p><%= recipe.foods.size%></p>
  <p><%= recipe.recipe_foods.joins(:food).sum("recipe_foods.quantity * foods.price")%></p>


<%end%>

</div>