<div>
  <div class="flex">
    <p>Amount of food items to buy: </p>
    <p>Total value of food needed: </p>
  </div>

  <div>
    <table>
      <thead>
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tbody>
    </table>
  </div>
</div>

