<h1 class="font-bold text-4xl text-center">Shopping List</h1>
<div class="mx-auto md:w-2/3 w-full mt-10">

  <div class="flex mb-10">
    <p>Amount of food items to buy:</p>
    <p>Total value of food needed: </p>
  </div>
  <table class="border border-black">
    <thead class=" bg-gray-50">
      <tr>
        <th class=" px-6 py-4 border-r border-b border-black">Food</th>
        <th class="px-6 py-4 border-r  border-b border-black">Quantity</th>
        <th class="px-6 py-4 border-r  border-b border-black">Price</th>
      </tr>
    </thead>
    <tbody>
      <% @recipe.recipe_foods.each do |recipe_food|  %>
        <% if recipe_food.quantity > recipe_food.food.quantity %>
          <tr>
            <td class="px-6 py-4 whitespace-nowrap text-sm font-light text-gray-900 border-r border-b border-black">
              <%=recipe_food.food.name%>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm font-light text-gray-900 border-r border-b border-black">
              <%= recipe_food.quantity - recipe_food.food.quantity %>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm font-light text-gray-900 border-r border-b border-black">
              <%= recipe_food.food.quantity * (recipe_food.quantity - recipe_food.food.quantity) %>
            </td>
          </td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>














